<template>
  <div class="home">
    <div>
      <img v-bind:src="coolDucky">
    </div>

    <div>
      <BlockItem v-for="i in blockItems" v-bind:key="i.name" :item="i"></BlockItem>
    </div>

    <button v-on:click="add">Sum ({{ sum }})</button>
    <div class="data-box">
      <div>Cart (count: {{ cart.length }}, el: {{ cart }}) <i class="fa fa-bars"></i></div>
      <div v-if="summa > 15">Super data</div>
      <div v-else-if="summa > 10">More data</div>
      <div v-else-if="summa > 5">Some data</div>
      <div v-else-if="summa >= 0">Little data</div>
      <div v-else>Data lost</div>
      <div v-show="showDiv">Div is shown! {{ computeData }}</div>
    </div>

    <div class="white_space_100"></div>

    <p class="product-outer">
      <ProductBase message="YksMessage" :selected="0" :premium="true" @add-to-cart="updateCart"></ProductBase>
    </p>

    <div class="white_space_450"></div>
  </div>
</template>

<script>
import BlockItem from '@/components/BlockItem.vue'
import ProductBase from '@/components/ProductBase.vue'
import ducky from '@/assets/CoolDucky.jpg'

export default {
  name: 'home',
  components: {
    BlockItem,
    ProductBase
  },
  data: function() {
    return {
      coolDucky: ducky,
      showDiv: true,
      blockItems: [
        { name: 'Simsalabim', time: '19:00', date: '21.Okt', attending: '2' },
        { name: 'Abrakadabra', time: '15:00', date: '22.Okt', attending: '3' }
      ],
      sum: 0,
      cart: []
    }
  },
  methods: {
    add() {
      this.sum += 1
    },
    updateCart(id) {
      this.cart.push(id)
    }
  },
  computed: {
    computeData() {
      return `El's in cart ${this.cart.length}, Sum: ${this.sum}!`
    },
    summa() {
      return this.cart.length
    }
  }
}
</script>

<style scoped>
button {
  float: left;
}
img {
  width: 25%;
  float: right;
}
p {
  text-align: center;
}
.data-box {
  float: right;
  box-shadow: 13px -10px 20px 0 #878686, -1px 1px 10px 0 #878686;
  padding: 20px 20px 20px 20px;
}
.white_space_100 {
  height: 130px;
}
.white_space_450 {
  height: 450px;
}
</style>
