<template lang="pug">
  div
    div
    div.locale-changer
      select(v-model="$i18n.locale")
        option(v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang") {{ lang }}
    .card
      .card-header
        h2.card-title {{ $t('translations.title') }}
        h4 {{ $t('message.hello', { msg: 'Hello' }) }}
        h4 {{ $t('notice.msg', {'noticeType': $tc('alertType', 2) }) }}
        h4 {{ $tc('apple', 1) }}, {{ $tc('apple', 2, { count: 7 }) }}
        h4 {{ $t('common.short_date') }} {{ $d(new Date(), 'short') }}, {{ $t('common.long_date') }} {{ $d(new Date(), 'long') }}
        h4 {{ $n(100, 'currency') }}
        h4 {{ $n(100, 'currency', 'jp') }}
        h4 {{ $n(100, 'currency', 'eur') }} (symboliga)
        h4 {{ $t('testing_en.translations') }}
</template>

<script>
export default {
  name: 'locale-changer',
  data() {
    return {
      langs: ['et', 'en']
    }
  }
}
</script>

<style scoped>
.locale-changer {
  width: 10%;
  float: right;
}
h4 {
  font-size: 18px;
  font-weight: 700;
}
</style>
