<template>
  <div>
    <MultiSelect/>
    <DragBase/>
  </div>
</template>

<script>
import DragBase from '@/components/DragBase'
import MultiSelect from '@/components/MultiSelect'

export default {
  components: {
    DragBase,
    MultiSelect
  }
}
</script>

<style scoped>
</style>
