<template>
  <div>
    <PlayerNavigation/>
    <h4>Players</h4>
    <div v-for="player in players" :key="player.id">
      <router-link :to="{ name: 'player-show', params: {id: player.id} }">{{ player.name }} {{ player.id }}</router-link>
    </div>

    <template v-if="page != 1">
      <router-link :to="{ name: 'players', query: { page: page - 1 } }" rel="prev">
        {{ previousPage }}</router-link>
      <template> | </template>
    </template>
    <router-link v-if="hasNextPage" :to="{ name: 'players', query: { page: page + 1 } }" rel="next">
      {{ nextPage }}</router-link>

  </div>
</template>

<script>
import PlayerNavigation from './PlayerNavigation.vue'
import { mapState } from 'vuex'

export default {
  data() {
    return {
      previousPage: '<',
      nextPage: '>'
    }
  },
  created() {
    this.perPage = 4
    this.$store.dispatch('fetchPlayers', {
      perPage: this.perPage,
      page: this.page
    })
  },
  computed: {
    page() {
      return parseInt(this.$route.query.page) || 1
    },
    hasNextPage() {
      return this.playersTotal > this.page * this.perPage
    },
    ...mapState(['players', 'playersTotal'])
  },
  components: {
    PlayerNavigation
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
