<template >
  <div>
    <PlayerNavigation/>
    <h4>Create Player</h4>
  </div>
</template>

<script>
import PlayerNavigation from './PlayerNavigation.vue'
export default {
  components: {
    PlayerNavigation
  }
}
</script>

<style scoped>
</style>
