<template>
  <div>
    <PlayerNavigation/>
    <h4>Show player {{ id }}</h4>
    <h4>Show name {{ player.name }}</h4>
    <h4>Show team {{ player.team }}</h4>
  </div>
</template>

<script>
import PlayerNavigation from './PlayerNavigation.vue'
import { mapState } from 'vuex'

export default {
  props: ['id'],
  components: {
    PlayerNavigation
  },
  created() {
    this.$store.dispatch('fetchPlayer', this.id)
  },
  computed: mapState(['player'])
}
</script>

<style scoped>
</style>
