
<template>
  <div class="block-card">
    <div><span id="item_name">{{ item.name }}</span> @{{ item.time }} on {{ item.date }}</div>
    <div>{{ item.attending }} attending</div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object
  }
}
</script>

<style scoped>
.block-card {
  width: 30%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: all 0.2s linear;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #878686;
}
.block-card:hover {
  transform: scale(1.017);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
#item_name {
  font-weight: 900;
}
</style>
