
<template>
  <div id="drag_able" class="row">

    <div class="column">
      <h3>List 1</h3>
      <draggable v-model="draggableItems" class="dragArea" :options="{group:'items'}" @start="drag=true" @end="drag=false">
        <transition-group>
          <div v-for="element in draggableItems"
            v-bind:key="element.name"
            class="list-item">
            <code>{{element.name}} 
              <div class="round_order">{{ element.order }}</div>
            </code>
          </div>
        </transition-group>
      </draggable>
      <button class="add_button" slot="footer" @click="addPeople">Add</button>
    </div>

    <div class="column">
      <h3>List 2</h3>
      <div>
        <draggable v-model="draggableItems2" :options="{group:'items'}" @change="handleChange">
          <transition-group>
            <div v-for="(el, index) in draggableItems2" 
              v-bind:key="el.name"
              class="list-item">
              <code>{{ el.name }} ({{ el.order }})
                <button class="delete_button" @click="remove(el, index)"><code>X</code></button>
              </code>
            </div>
          </transition-group>
        </draggable>
      </div>   
    </div>

    <div class="column">
      <pre class="language-json">
        <code>{{ draggableItems  }}</code>
      </pre>
    </div>

    <div class="column">
      <pre class="language-json">
        <code>{{ draggableItems2  }}</code>
      </pre>
    </div>

  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  data() {
    return {
      draggableItems: [
        {
          name: 'vue.draggable',
          order: 1,
          fixed: false
        },
        {
          name: 'component',
          order: 3,
          fixed: false
        },
        {
          name: 'for',
          order: 4,
          fixed: false
        }
      ],
      draggableItems2: [
        {
          name: 'drag',
          order: 2,
          fixed: false
        },
        {
          name: 'vue.js 2.0',
          order: 5,
          fixed: false
        },
        {
          name: 'based',
          order: 6,
          fixed: false
        },
        {
          name: 'on',
          order: 7,
          fixed: false
        },
        {
          name: 'Sortablejs',
          order: 8,
          fixed: false
        }
      ],
      count: 0
    }
  },
  components: {
    draggable
  },
  methods: {
    handleChange() {
      console.log('somethingChanged')
    },
    addPeople() {
      this.draggableItems.push({
        name: this.randomName(),
        order: this.count + 1,
        fixed: false
      })
      this.count += 1
    },
    remove(el, index) {
      if (this.draggableItems.indexOf(el) === index) {
        this.draggableItems.splice(index, 1)
      } else if (this.draggableItems2.indexOf(el) === index) {
        this.draggableItems2.splice(index, 1)
      }
    },
    randomName() {
      return Math.random()
        .toString(36)
        .substring(7)
    }
  },
  created() {
    this.count = this.draggableItems.length + this.draggableItems2.length
  }
}
</script>

<style scoped>
.dragArea {
  min-height: 30px;
}
.column {
  float: left;
  width: 22%;
  padding: 1%;
}
.list-item {
  padding: 5px 15px 5px 15px;
  margin-top: 6px;
  transition: all 1s;
  background-color: #eeeeee;
  border-radius: 8px;
  border: solid 1px #dcdcdc;
}
.round_order {
  margin-top: 1px;
  float: right;
  padding: 0px 8px 0px 8px;
  background-color: #c9c9c9;
  border-radius: 20px;
}
.add_button {
  margin-top: 10px;
}
.delete_button {
  margin-top: 1 px;
  float: right;
  margin-bottom: 2px;
}
</style>
