<template  lang="pug">
  div#multi_select
    p
      .select_box
        Multiselect(
          v-model="value1",
          :options="options",
          :close-on-select="true",
          :show-labels="false"
          placeholder="Pick a value",
          :custom-label="nameWithLang",
          @close="onTouch"
        )
      .select_value
        pre.language-json
          code.
            {{ value1.name  }}

    p
      .select_box
        Multiselect(
          v-model="value2",
          track-by="name",
          label="name",
          :allow-empty="true",
          :close-on-select="false",
          :hide-selected="true",
          :multiple="true",
          :options="options",
          :preselect-first="true"
          :searchable="true",
          :show-labels="false",
        )
      .select_value
        pre.language-json
          code.
            {{ value2  }}

    p
      .select_box
        Multiselect(
          v-model="selectedCountries",
          id="ajax",
          label="name",
          track-by="code",
          placeholder="Type to search",
          open-direction="bottom",
          :options="countries",
          :multiple="true",
          :searchable="true",
          :loading="isLoading",
          :internal-search="false",
          :clear-on-select="false",
          :close-on-select="false",
          :options-limit="300",
          :limit="5",
          :limit-text="limitText",
          :max-height="600",
          :show-no-results="false",
          :hide-selected="true",
          @search-change="asyncFind"
        )
      .select_value
        pre.language-json
          code.
            {{ selectedCountries  }}

    p
      .full_row_box
        Multiselect(
          placeholder="Pick action",
          :options="actions",
          :searchable="false",
          :reset-after="true",
          @select="dispatchAction"
        )
</template>

<script>
import Multiselect from 'vue-multiselect'
import { ajaxFindCountry } from '@/services/countriesApi'

export default {
  components: { Multiselect },
  data() {
    return {
      value1: '',
      value2: '',
      options: [
        { name: 'Vue.js', language: 'JavaScript' },
        { name: 'Adonis', language: 'JavaScript' },
        { name: 'Rails', language: 'Ruby' },
        { name: 'Laravel', language: 'PHP', $isDisabled: true },
        { name: 'Sinatra', language: 'Ruby' },
        { name: 'Phoenix', language: 'Elixir' }
      ],
      selectedCountries: [],
      countries: [],
      isLoading: false,
      actions: ['alert', 'console.log', 'scrollTop']
    }
  },
  methods: {
    nameWithLang({ name, language }) {
      return `${name} — [${language}]`
    },
    limitText(count) {
      return `and ${count} other countries`
    },
    asyncFind(query) {
      this.isLoading = true
      ajaxFindCountry(query).then(response => {
        this.countries = response
        this.isLoading = false
      })
    },
    clearAll() {
      this.selectedCountries = []
    },
    dispatchAction(actionName) {
      switch (actionName) {
        case 'alert':
          window.alert('Alert! Such Wow!')
          break
        case 'console.log':
          console.log('console.log(something something)!')
          break
        case 'scrollTop':
          window.scrollTo(0, 0)
          break
      }
    },
    onTouch() {
      console.log(`Bujaka (${this.nameWithLang(this.value1)})`)
    }
  }
}
</script>
<style scoped>
.full_row_box {
  width: 95%;
  float: left;
  margin-right: 5%;
  margin-bottom: 30px;
}
.select_box {
  width: 40%;
  float: left;
  margin-right: 2%;
}
.select_value {
  width: 45%;
  float: left;
  margin-right: 13%;
  text-align: left;
}
</style>
