<template>
  <div id="product">

    <div class="upper_column_left">
      <div>{{ message }}</div>
      <div>{{ items[selected] }}</div>
      <div>{{ makeLongLine }}</div>
      <br/>

      <div id="currentItem">
        <div class="inner_column_left">
          <div>{{ currentType }} ({{ stockQuantity }})</div>
          <div class="color-box"
              v-for="item in items"
              :key="item.id"
              :style="{ backgroundColor: item.color }"
              @mouseover="updateCurrent(item.id)"
              >
          </div>
          <div>
            <button v-on:click="addToCart" 
              :disabled="!inStock"
              :class="{ disabledButton: !inStock }"
              >
            Add to cart
            </button>
          </div>
        </div>
      </div>

    </div>
    
    <div class="inner_column_right_upper">
      <p>
        <TabsBase/>
      </p>
    </div>

    <div class="inner_column_right">

      <button v-on:click="showReview =! showReview">{{ reviewButtonTitle }}</button>

      <div v-show="showReview">
        <div>
          <p v-if="!reviews.length">There are no reviews yet.</p>
          <ul v-else>
            <div v-for="(review, index) in reviews" :key="index">
              <span>{{ review.name }} said:  {{ review.review }}, rating:{{ review.rating }}. </span>
            </div>
          </ul>
        </div>

        <ReviewBase @review-submitted="addReview"></ReviewBase>
      </div>
    </div>

  </div>
</template>

<script>
import ReviewBase from '@/components/ReviewBase.vue'
import TabsBase from '@/components/TabsBase.vue'
export default {
  components: {
    ReviewBase,
    TabsBase
  },
  data: function() {
    return {
      selectedItem: 0,
      items: [
        {
          id: 0,
          type: 'Socks',
          color: '#E67E22',
          quantity: 10
        },
        {
          id: 1,
          type: 'Shirt',
          color: '#28B463',
          quantity: 7
        }
      ],
      reviews: [],
      showReview: false
    }
  },
  methods: {
    addToCart() {
      this.$emit('add-to-cart', this.items[this.selectedItem].id)
    },
    updateCurrent(id) {
      this.selectedItem = id
    },
    addReview(productReview) {
      this.reviews.push(productReview)
    }
  },
  computed: {
    inStock() {
      return this.items[this.selectedItem].quantity > 0
    },
    stockQuantity() {
      return this.items[this.selectedItem].quantity
    },
    currentType() {
      return this.items[this.selectedItem].type
    },
    makeLongLine() {
      return `Shipping: ${this.shipping} (premium: ${this.premium})`
    },
    reviewButtonTitle() {
      if (this.showReview) return 'Hide review stuff'
      return 'Show review stuff'
    },
    shipping() {
      if (this.premium) {
        return 'Free'
      }
      return '2.99'
    }
  },
  props: {
    selected: {
      type: Number,
      required: false,
      default: 0
    },
    premium: {
      type: Boolean,
      required: false
    },
    message: {
      type: String,
      required: false,
      default: 'message'
    }
  }
}
</script>

<style scoped>
#currentItem {
  text-align: center;
}
.color-box {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}
.disabledButton {
  background-color: #d8d8d8;
}
.inner_column_left {
  border-top: solid 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.upper_column_left {
  float: left;
  width: 30%;
  border-top: solid 1px;
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  padding-top: 20px;
  margin-right: 15px;
}
.inner_column_right_upper {
  float: left;
  width: 33%;
  margin-bottom: 30px;
  margin-right: 15px;
  box-shadow: 5px 5px 20px 0 #878686, -5px -5px 20px 0 #878686;
}
.inner_column_right {
  float: right;
  padding: 10px;
  width: 32%;
  box-shadow: 5px 5px 20px 0 #878686, -5px -5px 20px 0 #878686;
}
</style>
