
<template>
  <div id="review-base">
    <form class="review-form" @submit.prevent="onSubmit">
      
        <p class="error" v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors" v-bind:key="error.length">{{ error }}</li>
          </ul>
        </p>

        <div>
          <label for="name">Name:</label>
          <input id="name" v-model="name">
        </div>
        
        <div>
          <label for="review">Review:</label>      
          <textarea id="review" v-model="review"></textarea>
        </div>
        
        <div>
          <label for="rating">Rating:</label>
          <select id="rating" v-model.number="rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
          </select>
        </div>
            
        <p>
          <input type="submit" value="Submit">  
        </p>    
      
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: null,
      review: null,
      rating: null,
      errors: [],
      selectedRating: '4'
    }
  },
  methods: {
    onSubmit() {
      if (this.name && this.review && this.rating) {
        let productReview = {
          name: this.name,
          review: this.review,
          rating: this.rating
        }
        this.$emit('review-submitted', productReview)
        this.name = null
        this.review = null
        this.rating = null
      } else {
        if (!this.name) this.errors.push('Name required.')
        if (!this.review) this.errors.push('Review required.')
        if (!this.rating) this.errors.push('Rating required.')
      }
    }
  }
}
</script>

<style scoped>
p {
  text-align: center;
}
</style>
