
<template>
  <div>
    <div class="tabs-bar">
      <span class="tab" 
            :class="{ activeTab: selectedTab === tab }"
            v-for="(tab, index) in tabs"
            @click="selectedTab = tab"
            :key="tab"
      >{{ tab }} ({{ index }}) </span>
    </div>

    <div v-show="selectedTab === 'Stupids'">
        <p>See ...</p>
    </div>

    <div v-show="selectedTab === 'Make anything'">
      <p>Teine</p>
    </div>

    <div v-show="selectedTab === 'Magic'">
      <p>Ja kolmas</p>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: ['Stupids', 'Make anything', 'Magic'],
      selectedTab: 'Stupids'
    }
  }
}
</script>

<style scoped>
p {
  text-align: center;
}
.tabs-bar {
  display: inline-block;
}
.tab {
  border: solid 1px;
  float: left;
  padding: 8px 16px;
}
</style>
