<template>
  <div>
    <h4>Teams</h4>
    <div v-for="team in teams" :key="team.id">
      {{ team.name }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {}
  },
  created() {
    this.$store.dispatch('fetchTeams')
  },
  computed: {
    ...mapState(['teams'])
  }
}
</script>

<style scoped>
</style>
